<section class="our-furniture">
  <div class="our-furniture-container">
    <h2 class="our-furniture-title">Наші меблі</h2>
    <p class="our-furniture-subtitle">
      Знайдіть ідеальні рішення для вашого інтер'єру
    </p>
    <ul class="our-furniture-categories">
      <li class="our-furniture-category-card">
        <span class="our-furniture-card-label">Всі товари</span>
      </li>
      <li class="our-furniture-category-card">
        <span class="our-furniture-card-label">М'які меблі</span>
      </li>
      <li class="our-furniture-category-card">
        <span class="our-furniture-card-label">Шафи та системи зберігання</span>
      </li>
      <li class="our-furniture-category-card">
        <span class="our-furniture-card-label">Ліжка та матраци</span>
      </li>
      <li class="our-furniture-category-card">
        <span class="our-furniture-card-label">Столи</span>
      </li>
      <li class="our-furniture-category-card">
        <span class="our-furniture-card-label">Стільці та табурети</span>
      </li>
      <li class="our-furniture-category-card">
        <span class="our-furniture-card-label">Кухні</span>
      </li>
      <li class="our-furniture-category-card">
        <span class="our-furniture-card-label">Меблі для дитячої</span>
      </li>
      <li class="our-furniture-category-card">
        <span class="our-furniture-card-label">Меблі для офісу</span>
      </li>
      <li class="our-furniture-category-card">
        <span class="our-furniture-card-label">Меблі для передпокою</span>
      </li>
      <li class="our-furniture-category-card">
        <span class="our-furniture-card-label">Меблі для ванної кімнати</span>
      </li>
      <li class="our-furniture-category-card">
        <span class="our-furniture-card-label">Садові та вуличні меблі</span>
      </li>
      <li class="our-furniture-category-card">
        <span class="our-furniture-card-label">Декор та аксесуари</span>
      </li>
    </ul>
    <ul class="our-furniture-product-list"></ul>
    <button class="our-furniture-show-more-btn" type="button">
      Показати ще
    </button>
  </div>
</section>
