<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo" aria-label="Go to homepage">
      <img
        src="./img/logo.svg"
        alt="Меблерія логотип"
        width="163"
        height="70"
      />
    </a>

    <button class="mobile-close-btn" aria-label="Закрити меню">
      <i class="bx bx-x"></i>
    </button>

    <nav class="header-nav">
      <ul class="nav-list">
        <li><a href="#our-furniture" class="nav-link">Наші меблі</a></li>
        <li><a href="#about-us" class="nav-link">Про нас</a></li>
        <li><a href="#faq-section" class="nav-link">Часті питання</a></li>
        <li><a href="#feedback" class="nav-link">Відгуки</a></li>
        <li>
          <a href="#our-furniture" class="btn-buy nav-link">До покупок</a>
        </li>
      </ul>
    </nav>

    <button class="burger-btn" aria-expanded="false" aria-label="Відкрити меню">
      <img
        src="./img/menu.svg"
        width="32"
        height="32"
        alt=""
        aria-hidden="true"
      />
    </button>
  </div>
</header>

<div class="mobile-menu" role="dialog" aria-hidden="true">
  <ul class="mobile-nav-list">
    <li><a href="#our-furniture" class="mobile-nav-link">Наші меблі</a></li>
    <li><a href="#about-us" class="mobile-nav-link">Про нас</a></li>
    <li><a href="#faq-section" class="mobile-nav-link">Часті питання</a></li>
    <li><a href="#feedback" class="mobile-nav-link">Відгуки</a></li>
  </ul>

  <a href="#our-furniture" class="btn-buy mobile-buy">До покупок</a>
</div>

<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/izitoast/dist/css/iziToast.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/izitoast/dist/js/iziToast.min.js"></script>

<script type="module" src="./js/header.js"></script>
