<section class="modal-contant">
  <div class="wrapper-big-img">
     <!-- Змінив шлях до картинки нище -->
    <img   src="/img/placeholder-image.jpg" alt="sofa" /> 
    <!-- Змінив шлях до картинки вище -->
    <div class="wrapper-small-img">
      <!-- Змінив шлях до картинки нище -->
      <img  src="img/small-placeholder-mage.jpg" alt="sofa" />
      <img  src="./img/small-placeholder-mage.jpg" alt="sofa" />
       <!-- Змінив шлях до картинки вище -->
    </div>
  </div>
  <div>
    <h3 class="modal-contant-title">Софа Oslo</h3>
    <p class="modal-contant-text">Дивани</p>
    <p class="modal-contant-text price">9 999 грн</p>
    <div class="stars"></div>
    <p class="modal-contant-text color">Колір</p>
    <div class="wrapper-checkbox">
      <input type="radio" name="option" checked  />
      <input type="radio" name="option" />
      <input type="radio" name="option" />
    </div>
    <p class="modal-contant-text description">
      Класичний диван з м'якими подушками<br class="desktop" /> та високою<br class="tablet"/>
      спинкою, ідеальний для сімейного<br class="desktop" /> відпочинку.<br class="tablet" />
      Оббивка з якісної зносостійкої<br class="desktop" /> тканини.
    </p>
    <p class="modal-contant-text dimensions">Розміри: 280x180x85</p>
    <button class="modal-contant-button" type="button">
      Перейти до замовлення
    </button>
  </div>
</section>
