<section class="modal-contant">
  <div class="wrapper-big-img">
    <img src="../img/placeholder-image.jpg" alt="sofa" />
    <div class="wrapper-small-img">
      <img src="../img/small-placeholder-mage.jpg" alt="sofa" />
      <img src="../img/small-placeholder-mage.jpg" alt="sofa" />
    </div>
  </div>
  <h3 class="modal-contant-title">Софа Oslo</h3>
  <p class="modal-contant-text">Дивани</p>
  <p class="modal-contant-text price">9 999 грн</p>
  <div class="stars"></div>
  <p class="modal-contant-text color">Колір</p>
  <div class="wrapper-checkbox">
    <input type="radio" name="option" />
    <input type="radio" name="option" />
    <input type="radio" name="option" />
  </div>
  <p class="modal-contant-text description">
    Класичний диван з м'якими подушками та високою спинкою, ідеальний для
    сімейного відпочинку. Оббивка з якісної зносостійкої тканини.
  </p>
  <p class="modal-contant-text dimensions">Розміри: 280x180x85</p>
  <button class="modal-contant-button" type="button">
    Перейти до замовлення
  </button>
</section>
