.modal-overlay {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 103px 20px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
  overscroll-behavior: contain;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal-details {
  background-color: rgba(255, 255, 255, 1);
  overflow-y: auto;
  border-radius: 8px;
  padding: 64px 20px 44px 20px;
  position: inherit;
}

.close-button {
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  background-color: inherit;
  position: absolute;
  top: 16px;
  right: 16px;
}

.close-button:active svg {
  fill: rgba(107, 6, 9, 1);
  opacity: 100%;
}

.close-button:hover svg,
.close-button:focus svg {
  fill: rgba(107, 6, 9, 1);
  opacity: 50%;
}


