.hero{
    display:flex;
    min-height: 617px; 
    align-items: center;
    justify-content: center;
    background-color: #D9D9D980;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(../img/hero-img/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    margin:0 auto;
    padding: 60px 20px; 
    
}

.hero-container {
    display: flex;
    flex-direction: column;
    max-width: 335px; 
    margin: 0;
}

.hero-title{ 
    font-weight: 700;
    font-size: 40px; 
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 24px;
    color:#FFFFFF;
    letter-spacing: 0.01em;
    text-align: left;
}

.hero-sub-title{
    font-weight:400;
    max-width: 100%;
    font-size: 18px;
     line-height: 1.6;
    margin-top: 0; 
    margin-bottom: 32px;
    color:rgba(255, 255, 255, 1);
    text-align: left;
    letter-spacing: 0;
}


.hero-btn{
    background: rgba(107, 6, 9, 1);
    border-radius: 100px;
    padding: 10px 24px ;
    width: auto; 
    height: 46px;
    display: flex;
    justify-content: center; 
    align-items: center;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.6;
    letter-spacing: 0;
    color: #fff;
    box-shadow: 
        0px 1px 2px 0px rgba(8, 12, 9, 0.05),
        inset 0px -2px 1px 0px rgba(0, 0, 0, 0.2),
        inset 0px 0px 0px 1px rgba(8, 12, 9, 0.15),
        inset 0px 2px 1px 0px rgba(255, 255, 255, 0.2), 
        inset 0px 32px 24px 0px rgba(255, 255, 255, 0.05);
    margin: 0;
}

.hero-btn:hover,
.hero-btn:focus{
    background-color:rgba(151, 80, 82, 1);
}


@media screen and (min-width: 768px) {
    
    .hero {
        min-height: 397px; 
        max-width: 100%; 
        padding: 0 32px; 
        justify-content: flex-start; 
        background-position: center 60%;
    }

    .hero-container {
        max-width: 560px; 
        width: 100%;
        margin-left: 0; 
    }

    .hero-title {
        font-size: 40px; 
    }

    
    .hero-btn{
        width: fit-content;
    }
}


@media screen and (min-width: 1440px) {
    
    .hero {
        min-height:508px; 
        max-width: 1440px;
        padding: 0 15px 0 63px; 
        background-position:center 50%;
    }

    .hero-container {
        max-width: 560px; 
        width: 100%;
        margin-left: 0; 
    }

    .hero-title{
        font-size: 56px; 
    }

    .hero-btn{
        width: fit-content;
    }
}